rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shared_gallery/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
